* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  border: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.dashboardWrap {
  padding: 0px 10px;
  background-color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dashboardWrap--darkMode {
  background-color: #1e202a;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f7ff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 25px 15px 65px 15px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1200px) {
  .background {
    padding: 25px 15px 85px 15px;
  }
}

.background--darkMode {
  background-color: #1f212e;
}

.background__title {
  width: 100%;
  font-size: 20px;
  color: #1e202a;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-bottom: 2.5px;
}

@media (min-width: 1200px) {
  .background__title {
    font-size: 30px;
  }
}

.background__title--darkMode {
  color: white;
}

.background__paragraf {
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: #63687e;
  border-bottom: 1px solid #63687e;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .background__paragraf {
    font-size: 15px;
  }
}

.background__paragraf:nth-child(3) {
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .background__paragraf:nth-child(3) {
    text-align: end;
    margin-right: 5px;
  }
}

.background__darkMode {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 30px;
  background-color: #aeb3cb;
  padding: 2px;
  cursor: pointer;
}

.background__darkMode--darkMode {
  background: linear-gradient(45deg, #2b3947 0%, #2b8c56 50%);
}

.background__darkMode-switch {
  position: relative;
  left: 0;
  width: 17.5px;
  height: 17.5px;
  background-color: #f5f7ff;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.background__darkMode-switch--darkMode {
  background-color: #1f212e;
}

.background__darkMode-switch--switched {
  left: 61%;
}

.background hr {
  margin: 20px 0px;
  color: black;
}

.socialMedia {
  position: relative;
  top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1200px) {
  .socialMedia {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px;
  }
}

.smBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  border-radius: 5px;
  background-color: #f0f2fa;
  margin: 20px auto;
  padding: 25px;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 1;
}

@media (min-width: 1200px) {
  .smBox {
    width: 22%;
    margin: 10px;
  }
}

.smBox--darkMode {
  background-color: #252a41;
}

.smBox__img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0px 5px;
}

.smBox__mainContent {
  width: 100%;
  margin: 30px 0px;
  text-align: center;
}

.smBox__mainContent span:nth-child(2) {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #63687e;
}

.smBox__result {
  font-size: 4rem;
  color: #1e202a;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.smBox__result--darkMode {
  color: white;
}

.smBox__imgUp {
  width: 10px;
  height: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5px;
}

.smBox__today {
  font-size: 1.2rem;
  color: #1db489;
}

.smBox__span {
  font-weight: 600;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.smBox__span--darkMode {
  color: #8b97c6;
}

.smBox:nth-last-child(1) h2:nth-last-child(1) {
  color: #dc414c;
}

.smBox__spanTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.smBox:nth-child(1) .smBox__spanTop {
  background-color: deepskyblue;
}

.smBox:nth-child(2) .smBox__spanTop {
  background-color: #1ca0f2;
}

.smBox:nth-child(3) .smBox__spanTop {
  background: -webkit-gradient(linear, left top, right top, from(#b36d00), color-stop(50%, #942e50));
  background: linear-gradient(90deg, #b36d00 0%, #942e50 50%);
}

.smBox:nth-child(4) .smBox__spanTop {
  background-color: #c4032a;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 1200px) {
  .overview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 30px;
  }
}

.overview__header {
  color: #63687e;
  width: 85%;
  margin: 0 auto;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.overview__header--darkMode {
  color: white;
}

@media (min-width: 1200px) {
  .overview__header {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 10px;
  }
}

.overview__box {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f2fa;
  margin: 20px auto;
  padding: 25px;
  border-radius: 5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1200px) {
  .overview__box {
    width: 22%;
    margin: 17px 5px;
  }
}

.overview__box--darkMode {
  background-color: #252a41;
}

.overview__title {
  width: 50%;
  font-weight: 600;
  color: #63687e;
  margin-bottom: 25px;
  font-size: 14px;
}

.overview__img {
  width: 20px;
  height: 20px;
  margin-bottom: 25px;
}

.overview__result {
  width: 50%;
  font-size: 2rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.overview__result--darkMode {
  color: white;
}

.overview__today {
  width: 50%;
  text-align: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #1db489;
  font-weight: 600;
}

.overview__box:nth-child(3) :nth-last-child(1),
.overview__box:nth-child(8) :nth-last-child(1),
.overview__box:nth-child(9) :nth-last-child(1) {
  color: #dc414c;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 2.5px;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */