//Light-Theme
$light-bgc-color:white;
$light-top-box-color:hsl(225, 100%, 98%);
$light-box-color: hsl(227, 47%, 96%);
$light-dark-text-color:hsl(228, 12%, 44%);
$light-very-dark-text-color: hsl(230, 17%, 14%);

//Dark-Theme
$dark-bgc-color:hsl(230, 17%, 14%);
$dark-top-box-color:hsl(232, 19%, 15%);
$dark-box-color: hsl(228, 28%, 20%);
$dark-dark-text-color:hsl(228, 34%, 66%);
$dark-very-dark-text-color: hsl(0, 0%, 100%);


//Primary
$green-arrow:hsl(163, 72%, 41%);
$red-arrow: hsl(356, 69%, 56%);

$darkTheme-transition: 0.3s linear;